*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}
body{
    background-color: #f8efe8;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 48px;
    gap: 2.5rem;
}

header img{
    width: 50%;
    height: auto;
}
header > div h3{
    font-size: 1.37rem;
    font-weight: 500;
    color : #262626;
    text-decoration: underline;
 
}
header > div h1{
    font-size: 2.4rem;
    font-weight: 800;
    color: #1A1A1A;
    line-height: 130%;
    margin-top: 0.5rem;
}
header > div > p{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 150%;
    color: #333333;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;

}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    box-shadow: 8px 8px 0px 1px #FFBE99;
    background-color: #FFEFE5;
    border-radius: 12px;
    border: 2px solid black;
    gap: 1rem;
}
.header-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-container div h2{
    font-size: 2rem;
    color:#262626;
    line-height: 130%;
    font-weight: 800;
}
.header-container div p{
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 150%;
    color: #262626;
    text-align: center;
}
@media screen and (max-width:900px){
    header{
        flex-wrap: wrap;
    }
    header img{
    width: 100%;
    }
    header > div {
    text-align: center;
}
}
main{
    margin-top: 5rem;
}
.first-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.2rem;
    margin-bottom: 100px;
}
.first-section-first-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.2rem;
}
.first-section-first-div button{
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 150%;
    justify-content: center;
}
.first-section-first-div h1{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 130%;
    color: #1A1A1A;
}
.first-section-first-div p{
    padding: 0 150px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    color: #333333;
    text-align: center;
}
.first-section-second-div-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 70px 50px;
}
.first-section-second-div-container div{
    background-color: #FFFFFF;
    border: 2px solid #262626;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    padding: 80px 30px 50px 30px;
    border-radius: 12px;
    position: relative;
}
.first-section-second-div-container div img{
    position: absolute;
    background-color: #FFDECC;
    border: 2px solid #262626;
    border-radius: 12px;
    padding: 20px;
    top: -40px;
    left: 30px;
    aspect-ratio: 1/1;
}
.first-section-second-div-container div h3{
    font-size:1.3rem;
    font-weight: 700;
    line-height: 130%;
    color: #1A1A1A;
    margin-bottom: 20px;
}
.first-section-second-div-container div p{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 150%;
    color: #4C4C4D;
    text-align: left;
}
@media screen and (max-width:900px){
 .first-section-first-div , .first-section-second-div ,  .first-section-second-div-container{
    flex-wrap: wrap;
 }
}
.second-section{
    margin-bottom: 100px;
}
.second-section-second-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    gap: 30px;
}
.second-section-second-div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    border: 2px solid #262626;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 50px;

}
.second-section-second-div div img {
    border: 1px solid #333333;
    background-color: #FFF5F0;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 12px;
}
.second-section-second-div div h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    color: #333333;
    margin-bottom: 10px;
}
.second-section-second-div div p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}
.second-section-second-div button{
    color: #333333;
    background-color: #FFFFFF;
    border: 2px solid #333333;
    padding: 14px;
    border-radius: 8px;
}
@media screen and (max-width:900px){
 .first-section-first-div , .second-section-second-div {
    flex-wrap: wrap; }
  .second-section-second-div button{
    display: none;
  }  
}

